:root {
  --cor-amarelo: #ffcc03;
  --cor-azul-claro: #c4d7e0;
  --cor-azul-escuro: #3c59a5;
  --cor-vinho: #c30d24;
  --cor-vinho-escuro: #300d0c;
  --cor-preto-claro: #2d3436;
  --cor-branco: #f8f8ff;
}
