@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap");

:root {
    --cor-amarelo: #ffcc03;
    --cor-azul-claro: #c4d7e0;
    --cor-azul-escuro: #3c59a5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--cor-azul-escuro);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    align-items: center;
}

div.pokedex_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

div.borda_cima {
    border-bottom: 2rem solid #000;
}

div#pokedex_cima-esquerda {
    width: 100%;
    max-width: 450px;
    height: 450px;
    background-color: rgb(250, 3, 3);
    border-top-left-radius: 100%;
}
div#pokedex_cima-direita {
    width: 100%;
    max-width: 450px;
    height: 450px;
    background-color: rgb(250, 3, 3);
    border-top-right-radius: 100%;
}

div#pokedex_meio {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2rem solid #000;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button#pokedex_abrir {
    font-size: 2.5rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: "Anton", sans-serif;
}

section#pokedex_apresentacao {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 3rem 1.5rem;
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 15px #000;
    border: 1px solid #0000;
}

/* Inicio do cards dos pokemons */

div.pokedex_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 30%;
    min-width: 215px;
    padding: 2.5rem;
    border: 5px double var(--cor-amarelo);
    border-radius: 1rem;
    box-shadow: 0px 0px 15px var(--cor-amarelo);
}

h3.pokedex_titulo {
    font-size: 3.5rem;
}

p.pokedex_numero {
    font-size: 2.5rem;
}

figure {
    background-color: var(--cor-azul-claro);
    border-radius: 100%;
}

img.pokedex_img {
    width: 100%;
    max-width: 200px;
    min-width: 100px;
}

div.tipos_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 1.7rem 0;
}

.pokedex_tipos {
    padding: 1rem;
    border-radius: 100%;
}

div.bg_color-glass {
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
}

div.bg_color-poison {
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
}

div.bg_color-fire {
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
}

div.bg_color-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

div.bg_color-water {
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
}

div.bg_color-bug {
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
}

div.bg_color-normal {
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
}

div.bg_color-electric {
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
}

div.bg_color-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

div.bg_color-fairy {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
}

div.bg_color-fighting {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
}

div.bg_color-psychic {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
}

div.bg_color-rock {
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
}

div.bg_color-steel {
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
}

div.bg_color-ice {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
}

div.bg_color-ghost {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    color: #fff;
}

div.bg_color-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: #fff;
}

div.bg_color-dark {
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    color: #fff;
}

p.pokedex_tipos-pokemos {
    font-size: 2.2rem;
}

p.pokedex_tipos-pokemos:first-letter {
    text-transform: uppercase;
}

p.pokedex_descricao {
    font-size: 1.9rem;
    line-height: 1.5;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

/* Final do cards dos pokemons */

div.borda_baixo {
    border-top: 2rem solid #000;
}

div#pokedex_baixo-esquerda {
    width: 100%;
    max-width: 450px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 100%;
}

div#pokedex_baixo-direita {
    width: 100%;
    max-width: 450px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 100%;
}
