@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
    --cor-amarelo: #ffcc03;
    --cor-azul-claro: #c4d7e0;
    --cor-azul-escuro: #3c59a5;
    --cor-vinho: #c30d24;
    --cor-vinho-escuro: #300d0c;
    --cor-preto-claro: #2d3436;
    --cor-branco: #f8f8ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Kanit", serif;
}

body {
    background-color: var(--cor-azul-escuro);
}
section#container_pokedex {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div#pokedex_cima {
    width: 100%;
    height: 150px;
    background-color: var(--cor-vinho);
    border: 1rem solid var(--cor-vinho-escuro);
    border-bottom: 1rem solid #000;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

div#pokedex_baixo {
    width: 100%;
    height: 600px;
    background-color: var(--cor-vinho);
    border: 1rem solid var(--cor-vinho-escuro);
    border-top: 1rem solid #000;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

main#container_apresentacao {
    width: 100%;
    height: 100px;
    background-color: #111;
    border-left: 1rem solid var(--cor-vinho-escuro);
    border-right: 1rem solid var(--cor-vinho-escuro);
}

button.btn_pokedex {
    width: 100px;
    height: 100px;
    border: 5px solid #000;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    font-family: "Anton", sans-serif;
}

/* Apos busca na API -- Criação dos cards */

section#pokedex_apresentacao {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 3rem 1.5rem;
    height: 80vh;
    padding: 2rem;
    overflow-y: scroll;
}
button#pokedex_menu,
button#pokedex_page-voltar,
button#pokedex_page-avancar {
    display: none;
}

div#menu {
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--cor-branco);
    border: 5px solid var(--cor-vinho-escuro);
    position: fixed;
    left: 0;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

label {
    font-size: 3rem;
}

div#menu_busca {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
}

input#busca_pokemon {
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
}

button.botao_busca {
    display: flex;
    align-items: baseline;
    border: none;
    background-color: var(--cor-amarelo);
    font-size: 2.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    gap: 1rem;
    cursor: pointer;
    transition: all 500ms;
}

button.botao_busca {
    border-radius: 0.8rem;
    background-color: #ffcd03bd;
}

i.bi-search,
i.bi-x {
    font-size: 2rem;
}

div.pokedex_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 400px;
    background-color: #f0f0f0;
    padding: 1.5rem;
    border: 5px double var(--cor-amarelo);
    border-radius: 1rem;
    box-shadow: 0px 0px 20px var(--cor-amarelo);
}

div.pokedex_cards-cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3.pokedex_titulo {
    font-size: 3.5rem;
}

p.pokedex_numero {
    font-size: 3.5rem;
}

figure {
    background-color: var(--cor-azul-claro);
    border-radius: 100%;
}

img.pokedex_img {
    width: 100%;
    max-width: 200px;
    min-width: 100px;
}

div.tipos_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 1.7rem 0;
}

.pokedex_tipos {
    padding: 1rem;
    border-radius: 100%;
}

div.bg_color-grass {
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
}

div.bg_color-poison {
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
}

div.bg_color-fire {
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
}

div.bg_color-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

div.bg_color-water {
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
}

div.bg_color-bug {
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
}

div.bg_color-normal {
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
}

div.bg_color-electric {
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
}

div.bg_color-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

div.bg_color-fairy {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
}

div.bg_color-fighting {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
}

div.bg_color-psychic {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
}

div.bg_color-rock {
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
}

div.bg_color-steel {
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
}

div.bg_color-ice {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
}

div.bg_color-ghost {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    color: #fff;
}

div.bg_color-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: #fff;
}

div.bg_color-dark {
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    color: #fff;
}

p.pokedex_tipos-pokemos {
    font-size: 2.2rem;
}

p.pokedex_tipos-pokemos:first-letter {
    text-transform: uppercase;
}

p.pokedex_descricao {
    font-size: 1.9rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    form {
        flex-flow: column wrap;
        gap: 1rem;
    }
}

@media (max-width: 320px) {
    section#pokedex_apresentacao {
        height: 75vh;
        padding: 0.5rem;
    }
    img.pokedex_img {
        width: 150px;
    }
    p.pokedex_descricao {
        font-size: 1.5rem;
    }
    button.btn_pokedex {
        width: 60px;
        height: 60px;
        font-size: 2rem;
    }
}
@media (max-width: 280px) {
    div.pokedex_cards {
        width: 200px;
    }
    p.pokedex_tipos-pokemos {
        font-size: 1.2rem;
    }
}
